*~
*#
*.swp

/src/archivematica
/src/archivematica-storage-service
/src/archivematica-sampledata
/src/rdss-archivematica-automation-tools
/src/rdss-archivematica-channel-adapter
/src/rdss-archivematica-msgcreator
/src/rdss-arkivum-nextcloud

# Terraform compiled files
*.tfstate
*.tfstate.backup

# Ansible
*.retry
